@use 'theme';

.root {
	display: flex;
	width: 100%;
	padding: 1rem;
	font-weight: 700;
	color: theme.$white;
	background: rgba(theme.$white, 0.1);
	transition: color 0.3s, background 0.3s, opacity 0.3s;

	&[aria-current] {
		pointer-events: none;
		color: theme.$blue;
		background: rgba(theme.$blue, 0.1);
	}

	&:hover {
		opacity: 0.7;
	}
}

.icon {
	height: 1.5rem;
	margin-right: 0.5rem;
}
