.root,
.main {
	overflow-y: auto;
}

.root {
	display: grid;
	grid-template-rows: 1fr auto;
	height: 100%;
}

.main {
	display: flex;
	padding: 1rem 1rem 0;
}

.mainInner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.model {
	margin-top: 0.25rem;
	font-weight: 700;
	opacity: 0.5;
}

.buy {
	margin-top: 1rem;
}
