@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
	@apply break-words;
	word-break: break-word;
}

* {
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		@apply bg-white bg-opacity-5;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-white bg-opacity-20;
	}

	&::-webkit-scrollbar-thumb:hover {
		@apply bg-white bg-opacity-25;
	}
}

input,
textarea {
	@apply block;
}

pre {
	@apply whitespace-pre-wrap;
}

code {
	font-family: var(--font-sf-mono);
}

button:disabled {
	@apply pointer-events-none;
}

[aria-label][data-balloon-pos]::after {
	@apply leading-5;
}
