@use 'theme';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
	word-wrap: break-word;
	word-break: break-word;
	border: none;
	outline: none;
}

html,
body {
	height: 100%;
}

body {
	color: theme.$white;
	background: theme.$dark;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	background: none;

	&:disabled {
		pointer-events: none;
	}
}

img,
svg {
	display: block;
}
