@use 'theme';

$default-height: 42px;

.root {
	display: flex;
	align-items: flex-end;
	padding: 1rem;
}

.children {
	display: flex;
	align-items: center;
	height: $default-height;
	margin-right: 1rem;
}

.form {
	flex-grow: 1;
	position: relative;
	border-radius: 0.5rem;
}

.textArea {
	width: 100%;
	height: $default-height;
	overflow: hidden;
	resize: none;
	padding: 0.7rem 2.7rem 0.7rem 1rem;
	background: rgba(theme.$white, 0.1);
	border-radius: 0.5rem;

	&::placeholder {
		color: rgba(theme.$white, 0.5);
	}
}

.submit {
	position: absolute;
	bottom: 11px;
	right: 16px;
	color: theme.$blue;
	transition: color 0.3s, opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}

	&:disabled {
		color: theme.$white;
		opacity: 0.5;
	}
}
