.root :global {
	table {
		width: 100%;
	}

	table,
	th,
	td {
		border: 1px solid gray;
		border-collapse: collapse;
	}

	th {
		white-space: nowrap;
	}

	th,
	td {
		min-width: 150px;
		padding: 0.25rem 0.5rem;
	}
}
