@use 'landing';

.root {
	background: linear-gradient(to bottom right, #0b2e42, #169470);
}

.inner {
	max-width: landing.$max-width * 1.8;
	width: landing.$width;
	margin: 0 auto;
	padding: 2rem 0;
}

.title,
.copyright {
	text-align: center;
}

.title {
	font-size: 2rem;
}

.copyright {
	margin-top: 1rem;
	font-weight: 700;
	opacity: 0.5;
}
