@use 'theme';
@use 'landing';

.root {
	max-width: landing.$max-width;
	width: landing.$width;
	margin: 0 auto;
	padding: 1rem 0 2rem;
}

.title,
.description {
	text-align: center;
}

.title {
	font-size: 3rem;
	font-weight: 900;

	strong {
		font-weight: inherit;
		color: #24e098;
	}
}

.description {
	margin-top: 1rem;
}

.image {
	width: 100%;
	height: auto;
	margin-top: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 10px 5px rgba(theme.$black, 0.1);
}

.signIn {
	display: flex;
	align-items: center;
	margin: 2rem auto 0;
	padding: 0.8rem 1.3rem;
	font-size: 1.5rem;
	font-weight: 700;
	background: rgba(theme.$white, 0.1);
	border-radius: 100px;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.signInIcon {
	flex-shrink: 0;
	margin-right: 0.7rem;
	font-size: 1.2em;
}
