@use 'theme';
@use 'landing';

.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: landing.$max-width;
	width: landing.$width;
	margin: 0 auto;
	padding: 1rem 0;
}

.home,
.link {
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.home {
	font-size: 1.5rem;
	font-weight: 700;
}

.links {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	@media (min-width: 380px) {
		gap: 1rem;
	}

	@media (min-width: 430px) {
		gap: 2rem;
	}
}

.signIn {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	font-weight: 700;
	background: rgba(theme.$white, 0.1);
	border-radius: 100px;
	transition: background 0.3s;

	&:hover {
		background: rgba(theme.$white, 0.15);
	}
}

.signInIcon {
	flex-shrink: 0;
	margin-right: 0.5rem;
	font-size: 1.2em;
}
